<select class="select-city form-control" style="display:none;" name="city">
  <option value>Select city...</option>
  {{#each this}}
  <option value="{{this}}">{{this}}</option>
  {{/each}}
</select>
<div class="text-center"><i class="fa fa-refresh fa-spin select-city-loading" style="display:none;"></i></div>
