<select class="select-college form-control" style="display:none;">
  <option value>Select college...</option>
  {{#each this}}
    <option value="{{id}}">{{name}}</option>
  {{/each}}
</select>
<i class="fa fa-refresh fa-spin select-college-loading" style="display:none;"></i>
