<div class="navbar-text">
    <a>&copy; @DateTime.Now.Year</a>
    @Html.ActionLink("about", "About", "Home")
    @Html.ActionLink("contact", "Contact", "Home")
    <a href="http://www.twitter.com/campusbookflip"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="http://www.youtube.com/campusbookflip"><i class="fa fa-youtube"></i></a>
</div>